Documents/messesInfo/code/MessesApp/.idea/libraries/eventbus_3_0_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_base_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_basement_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_location_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_maps_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_tasks_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/recyclerview_v7_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_annotations_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_compat_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_core_ui_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_core_utils_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_fragment_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_media_compat_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_v4_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_vector_drawable_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/cardview_v7_23_4_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/converter_gson_2_0_2.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/converter_jackson_2_0_2.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/dagger_2_5.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/design_25_1_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/gson_2_6_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/jackson_annotations_2_7_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/jackson_core_2_7_2.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/jackson_databind_2_7_2.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/javax_inject_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/jsr250_api_1_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/logging_interceptor_3_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/material_1_2_4.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/okhttp_3_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/okio_1_8_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/retrofit_2_0_2.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/transition_25_1_0.xml
