Documents/messesInfo/code/MessesApp/.idea/libraries/eventbus_3_0_0.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_base_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_basement_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_location_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_maps_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/play_services_tasks_10_0_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/recyclerview_v7_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_annotations_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_compat_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_core_ui_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_core_utils_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_fragment_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_media_compat_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_v4_25_3_1.xml
Documents/messesInfo/code/MessesApp/.idea/libraries/support_vector_drawable_25_3_1.xml
