<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tregouet.messesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MessesApp"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_API_key"/>

        <activity
            android:name=".modules.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.church.ChurchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.city.CityActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>